@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --celi: #f85959b8;
    --kevin: #8bc34a;
    --eden: #3b5d50;

    --carlos: #fff;
    --luz: #000;
}


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: none;
}

.cont_form{
   height: 100%;
   width: 100%;
   background-image: url(../img/Login.png);
   background-repeat: no-repeat;
}

.formLogin{
    height: 100vh;
    width: 600px;
    background-color: #000000a2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLogin h1{
    color: #ffffff;
    font-weight: 900;
}

.orientourLogo{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orientourLogo img{
    width: 500px;
}

.input_login{
    background-color: #8bc34a7f;
    color: white;
    margin: 30px 0;
    height: 45px;
    width: 450px;
    padding: 0 10px;
    border-radius: 15px;
    outline: none;
    border: none;
}

.input_login:focus{
    background-color: #8bc34a7f;
    color: white;
}

.input_login::placeholder{
    color: #ffffff;
}

.requestPass{
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.requestPass a{
    margin: -25px;
    color: #ffffff;
}

.cont_input{
    height: 600px;
    width: 400px;
}

.btn-login{
    height: 40px;
    width: 200px;
    border-radius: 15px;
    border: none;
    background-color: #8bc34a7f;
    color: #ffffff;
    border: none;
    font-size: 15px;
}


/* registro */

.formLogin_register{
    height: 70px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.formLogin_register_space{
    height: 100%;
    display: flex;
    align-items: center;
}

.formLogin_register_space input[type="text"]{
    height: 40px;
    width: 200px;
}

.regist_input{
    height: 50px;
    width: 100%;
}

.regist_input input{
    height: 40px;
    width: 75%;
    margin: 20px auto;
}


@media screen and (max-width:1200px) {
    .cont_form{
        background-color: red;
        background-image: none;
    }
}
