@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    /* colores principales */
    --celi: #f85959b8;
    --kevin: #8bc34a;
    --eden: #3b5d50;

    /* colores form */
    --form: #000000a2;
    --input: #8bc34a7f;

    /* colores basic */
    --carlos: #fff;
    --luz: #000;
}


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: none;
}

.cont_form{
   height: 100%;
   width: 100%;
   background-image: url(../img/Login.png);
   background-repeat: no-repeat;
}

.formLogin{
    height: 100vh;
    width: 600px;
    background-color: var(--form);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLogin h1{
    color: var(--carlos);
    font-weight: 900;
}

.orientourLogo{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orientourLogo img{
    width: 500px;
}

.input_login input{
    background-color: var(--input);
    color: var(--carlos);
    margin: 30px 0;
    height: 45px;
    width: 450px;
    padding: 0 10px;
    border-radius: 15px;
    outline: none;
    border: 1px solid var(--carlos);
}

.input_login input:focus{
    background-color: var(--input);
    color: var(--carlos);
}

.input_login input::placeholder{
    color: var(--carlos);
}

.requestPass{
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.requestPass a{
    margin: -25px;
    color: var(--carlos);
}

.cont_input{
    height: 600px;
    width: 400px;
}

.btn-login{
    height: 40px;
    width: 200px;
    border-radius: 15px;
    border: none;
    background-color: var(--input);
    color: var(--carlos);
    border: 1px solid var(--carlos);
    font-size: 15px;
}

.regist_account{
    height: 100px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regist_account p{
    color: var(--carlos);
}

.regist_account a{
    color: var(--celi);
    font-weight: 700;
    text-decoration: none;
}


/* registro */

.formLogin_register{
    height: 70px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.formLogin_register_space{
    height: 100%;
    display: flex;
    align-items: center;
}

.formLogin_register_space input[type="text"]{
    background-color: var(--input);
    color: var(--carlos);
    height: 40px;
    width: 200px;
}

.formLogin_register_space input[type="text"]::placeholder{
    color: var(--carlos);
}

.formLogin_register_space input[type="text"]:focus{
    background-color: var(--input);
    color: var(--carlos);
}

.regist_input{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.regist_input input{
    background-color: var(--input);
    color: var(--carlos);
    height: 40px;
    width: 75%;
    margin: 0 auto;
}

.regist_input input:focus{
    background-color: var(--input);
    color: var(--carlos);
}

.regist_input input::placeholder{
    color: var(--carlos);
}

.regist_btn{
    height: 80px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.regist_btn button{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: var(--input);
    color: var(--carlos);
    border: 1px solid var(--carlos);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width:1000px) {
    .cont_form{
        display: flex;
        justify-content: center;
    }
}
